<div class="flex items-center justify-center w-full">
  <div class="w-96 rounded-lg px-84 py-8">
    <!-- Logo Section -->
    <div class="flex justify-center mb-6">
      <img src="/logo.png" alt="Logo" class="h-32">
    </div>

    <!-- Loading State -->
    <div *ngIf="isLoading" class="text-center">
      <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-gray-900 mx-auto"></div>
      <p class="mt-4 text-gray-600">Vérification du lien...</p>
    </div>

    <!-- Form -->
    <ng-container *ngIf="!isLoading && isValidCode">
      <h2 class="text-2xl font-bold text-center mb-6">Réinitialisation du mot de passe</h2>
      <p class="text-gray-600 text-center mb-6">Pour le compte : {{ email }}</p>

      <form [formGroup]="verifyForm" (ngSubmit)="onSubmit()" class="mb-12">
        <!-- New Password Input -->
        <div class="mb-6">
          <div class="relative mt-1">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-500">
              <fa-icon [icon]="faLock"></fa-icon>
              <div class="border-r border-gray-300 h-5 ml-3"></div>
            </span>
            <input type="password" formControlName="newPassword" class="w-full p-3 pl-12 border rounded-md focus:ring focus:ring-blue-200" placeholder="Nouveau mot de passe">
          </div>
        </div>

        <!-- Confirm New Password Input -->
        <div class="mb-6">
          <div class="relative mt-1">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-500">
              <fa-icon [icon]="faLock"></fa-icon>
              <div class="border-r border-gray-300 h-5 ml-3"></div>
            </span>
            <input type="password" formControlName="confirmPassword" class="w-full p-3 pl-12 border rounded-md focus:ring focus:ring-blue-200" placeholder="Confirmer le mot de passe">
          </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="w-full text-black p-3 rounded-md border border-gray-300 hover:bg-gray-100 hover:font-semibold">
          Réinitialiser le mot de passe
        </button>
      </form>
    </ng-container>

    <!-- Back to Login Link -->
    <p class="text-center">
      <a routerLink="/auth/login" class="text-gray-700 font-semibold hover:underline">Retour à la connexion</a>
    </p>
  </div>
</div> 