@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hexagon-container {
  position: relative;
  width: 43px;
  padding-right: 34px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  position: absolute;
  z-index: 2;
}

.hexagon-border {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexagon-border-outer {
  background-color: black;
  transform: scale(1.15);
  z-index: 1;
}

.hexagon-border-inner {
  background-color: orange;
  transform: scale(1.08);
  z-index: 1;
}
