<nav>
  <ul class="flex space-x-4">
    <li>
      <a
        routerLink="/dashboard"
        class="text-primary hover:underline p-2 rounded"
        >ModelWay</a
      >
    </li>
    <li>
      <a routerLink="/models" class="text-primary hover:underline p-2 rounded"
        >Models</a
      >
    </li>
    <li>
      <a
        routerLink="/providers"
        class="text-primary hover:underline p-2 rounded"
        >Providers
      </a>
    </li>
    <li>
      <a routerLink="/chat" class="text-primary hover:underline p-2 rounded"
        >Chat</a
      >
    </li>
    <li>
      <a routerLink="/docs" class="text-primary hover:underline p-2 rounded"
        >Docs</a
      >
    </li>
    <li>
      <a routerLink="/login" class="text-primary hover:underline p-2 rounded"
        >Login</a
      >
    </li>
    <li>
      <a routerLink="/register" class="text-primary hover:underline p-2 rounded"
        >Register</a
      >
    </li>
  </ul>
</nav>
