<nav class="p-4">
  <ul class="flex space-x-4">
    <li>
      <a routerLink="/modeles" class="text-primary hover:underline p-2 rounded"
        >Modèles</a
      >
    </li>
    <li>
      <a
        routerLink="/fournisseurs"
        class="text-primary hover:underline p-2 rounded"
        >Fournisseurs</a
      >
    </li>
    <li>
      <a routerLink="/chat" class="text-primary hover:underline p-2 rounded"
        >Chat</a
      >
    </li>
    <li>
      <a
        routerLink="/documentation"
        class="text-primary hover:underline p-2 rounded"
        >Documentation</a
      >
    </li>
    <li>
      <a
        routerLink="/connexion"
        class="text-primary hover:underline p-2 rounded"
        >Connexion</a
      >
    </li>
    <li>
      <a
        routerLink="/inscription"
        class="text-primary hover:underline p-2 rounded"
        >Inscription</a
      >
    </li>
  </ul>
</nav>
