<nav class="flex items-center justify-between">
  <ul class="flex space-x-4">
    <li *ngFor="let link of navLinks">
      <a
        [routerLink]="link.path"
        routerLinkActive="font-bold text-primary-dark"
        [class.text-primary]="!isActive(link.path)"
        class="hover:underline-none hover:font-medium p-2 rounded transition min-w-[80px] text-center"
      >
        {{ link.label }}
      </a>
    </li>
  </ul>  

  <div class="relative profile-menu">
    <button (click)="toggleMenu()" class="focus:outline-none relative">
      <div class="hexagon-container">
        <div class="hexagon-border hexagon-border-outer"></div>
        <div class="hexagon-border hexagon-border-inner"></div>
        <img
          [src]="userProfileImg"
          alt="Profile"
          class="hexagon-avatar"
        />
      </div>
    </button>        

    <div *ngIf="menuOpen" class="absolute right-0 mt-2 w-48 bg-white shadow-lg rounded-lg overflow-hidden z-50">
      <a
        *ngFor="let item of userMenuItems"
        [routerLink]="item.path"
        class="block px-4 py-2 hover:bg-gray-100 cursor-pointer"
        (click)="item.action()"
      >
        {{ item.label }}
      </a>
    </div>
  </div>
</nav>